<h1>New Invite</h1>

<%= form_for :attendee, '/invite' do |f| %>
  <%= f.label "First Name", for: :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label "Last Name", for: :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label "Email", for: :email %>
  <%= f.text_field :email %>
  <%= f.label "Description", for: :description %>
  <%= f.text_field :description %>
  <%= f.label "Plus 1 count", for: :plus_count %>
  <%= f.text_field :plus_count %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
