<div class="flip-card">
  <div class="flip-card-inner ">
    <div id="flip-card-front" class='flip-card-side'>
      <%= image_tag("postcard-front.png", alt: "postcard-front", class: "postcard-image") %>
    </div>
    <div id="flip-card-back" class='flip-card-side'>
      <%= image_tag("postcard-back.png", alt: "postcard-back", class: "postcard-image") %>
    </div>
  </div>

  <div class='flip-card-desc'>
    <% if attendee_info[:rsvp] %>
      You have already RSVP'ed with a plus count of <%= attendee_info[:plus_count] %>
    <% else %>
      <%= form_for :attendee, "/invite/#{id}", method: :post do |f| %>
        <%= f.label 'RSVP', for: :rsvp_options %> 
        <%= f.select 'rsvp', [['Yes', true], ['No', false]]%>
        <%= f.label 'Plus One', for: :plus_count %> 
        <%= f.text_field :plus_count%>
        <%= f.submit 'Submit' %>
      <% end %>
    <% end %>
  </div>
</div>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

