<div class='invite-list-new'>
  <%= form_for :attendee, '/invite', class: 'invite-list-new-form' do |f| %>
    <%= f.label "NAME", for: :name, class: 'form-labels' %>
    <%= f.text_field :name, class: 'form-inputs' %>
    <%= f.label "EXTRA INVITES", for: :plus_count, class: 'form-labels' %>
    <%= f.select :plus_count , [0,1,2,3], class: 'form-inputs'%>
    <p>
      <%= f.submit "CREATE", class: 'btn invite-list-new' %>
    </p>
  <% end %>
</div>
