<% javascript_tag("app") %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  </head>
  <body>
    <div id='main-content'>
      <div id='invite-list-container'>
        <h1 class='invite-list-name'>Guest List</h1>
        <div class ='invite-list'>
          <div class='create-invite-button'>
            <div class='create-invite-button-text' hx-get="/invite/new" hx-trigger="click" hx-target=".create-invite-button" hx-swap="outerHTML">
              Create new invite
            </div>
          </div>
          <br>
          <table class='invite-list-table'>
            <thead class='invite-list-header'>
              <tr>
                <th>Name</th>
                <th>RSVP</th>
                <th>Extra Invites</th>
              </tr>
            </thead>
            <tbody class='invite-list-items'>
              <% attendees.each do |attendee| %>
                <tr id="invite-<%= attendee[:id] %>" class='invite-item'>
                  <td>
                    <a href="/invite/<%= attendee[:id]%>" class='invite-item-name invite-item-content'><%= attendee[:first_name] %> <%= attendee[:last_name] %></a>
                  </td>      
                  <td class='rsvp invite-item-content'>
                    <% if attendee[:rsvp].nil? %>
                    <% elsif attendee[:rsvp] %>
                      Yes
                    <% else %>
                      No
                    <% end %>
                  </td>
                  <td class='plus-count invite-item-content'>
                    <%= attendee[:plus_count] %>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" class='table-dash'>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
